@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

#nprogress .bar {
  background: #3498db !important; /* Change to your preferred color */
  height: 3px !important;
}
.scale-button {
  transition: transform 0.1s ease;
}

.scale-button:active {
  transform: scale(1.2);
  background-color: #0057b2;
}
.scale-submit-button {
  transition: transform 0.1s ease;
}

.scale-submit-button:active {
  transform: scale(1.2);
  background-color: #1db04d;
}
